<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config :: config"></th:block>
    <title>DailyQuest 메인 페이지</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet">
</head>
<body>
<h2>로그인</h2>


    <div>
        <label>아이디:</label>
        <input type="text"  id="id-input" placeholder="ID 입력" required />
    </div>

    <div class="password-field">
        <label>비밀번호:</label>
        <div class="pw-box">
            <input type="password"  id="pw-input"
                   class="pw-input" placeholder="비밀번호 입력" required />
            <i class="fa-solid fa-eye"></i>
        </div>
    </div>
    <div>
        자동 로그인<input type="checkbox"  id="auto-login">
    </div>

    <div>
        <button type="button" id="submit">로그인</button>
        <a th:href="@{/find-id}">아이디 찾기</a>
        <a th:href="@{/verify}">비밀번호 찾기</a>
    </div>

<div class="flex gap-3">
    <a class="btn" th:href="@{/oauth2/authorization/google}">Google</a>
    <a class="btn" th:href="@{/oauth2/authorization/kakao}">Kakao</a>
    <a class="btn" th:href="@{/oauth2/authorization/naver}">Naver</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
<script type="module" th:src="@{/js/pages/login.js}"></script>
<!--<script type="module" th:src="@{/js/pages/oauth2.js}"></script>-->
<script th:src="@{/js/password-hide.js}"></script>
</body>
</html>