<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link th:href="@{/css/reset-password.css}" rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <h2>비밀번호 재설정</h2>
    <p class="hint">비밀번호는 8자 이상을 권장합니다.</p>

    <form th:action="@{/users/confirm}" method="post" th:object="${passwordResetDTO}">
        <!-- 서버가 모델에 담아준 토큰 -->
        <input type="hidden" name="token" th:value="${token}" th:field="*{token}"/>

        <div class="input-wrapper">
            <label for="password">새 비밀번호</label>
            <div class="field">
                <input th:field="*{newPassword}" id="password" class="pw-input" name="newPassword"
                       type="password" minlength="8" maxlength="12" required/>
                <i class="fa-solid fa-eye"></i>
            </div>
        </div>

        <div class="input-wrapper">
            <label for="password2">새 비밀번호 확인</label>
            <div class="field">
                <input th:field="*{newPasswordConfirm}" id="password2" class="pw-input" name="newPasswordConfirm"
                       type="password" minlength="8" maxlength="12" required/>
                <i class="fa-solid fa-eye"></i>
            </div>
        </div>

        <button type="submit" id="passwordreset-form" disabled="disabled">비밀번호 변경</button>
    </form>
    <script th:src="@{/js/apiClient.js}"></script>
    <script th:src="@{/js/reset-password.js}"></script>
    <script th:src="@{/js/password-hide.js}"></script>

</div>
</body>
</html>