<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DailyQuest 회원가입 페이지</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet">
</head>
<body>
<h2>회원가입</h2>

<div id="signup">
    <div>
        <label>닉네임:</label>
        <input type="text" id="username" placeholder="이름 입력" />
    </div>

    <div>
        <label>아이디:</label>
        <input type="text" id="id-input" placeholder="ID 입력" />
        <span id="id-check-result"></span>
        <span id="id-validate-result"></span>
    </div>

    <div class="password-field">
        <label>비밀번호:</label>
        <div class="pw-box">
            <input type="password" id="pw-input" class="pw-input" placeholder="비밀번호 입력" />
            <i class="fa-solid fa-eye"></i>
        </div>
        <span id="pw-validate-result"></span>
    </div>

    <div>
        <label>이메일:</label>
        <input type="text" id="email-id" placeholder="이메일 아이디" />
        @
        <select id="email-domain">
            <option value="">이메일 선택</option>
            <option value="naver.com">naver.com</option>
            <option value="gmail.com">gmail.com</option>
            <option value="hanmail.net">hanmail.net</option>
            <option value="custom">직접 입력</option>
        </select>
        <input type="text" id="custom-domain" placeholder="직접 입력" style="display:none;" />
        <span id="email-check-result"></span>
        <span id="email-validate-result"></span>
    </div>

    <button id="signup-btn">회원가입</button>

    <p id="server-error" style="color:red;"></p>
    <p id="server-success" style="color:green;"></p>
</div>


<script type="module" th:src="@{/js/pages/signup.js}"></script>
<script th:src="@{/js/password-hide.js}"></script>
</body>
</html>